
<div class="container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource"
  [matSortDisableClear]="false"
   matSort class="mat-cell">
    ng update @angular/cli @angular/core
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="FormQuestionsAnswerMapping">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Mapping Id</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.FormQuestionsAnswerMapping}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Questions">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Questions</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.Questions}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="QuestionsMandatory">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Mandatory</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.QuestionsMandatory}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="FormQuestionssequence">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Sequence</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.FormQuestionssequence}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="answer">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Answer</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.answer}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="QuestionsGroup">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Questions Group</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.QuestionsGroup}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="NextForm">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Next Form</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.NextForm}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Active">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Active</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.Active}}</mat-cell>
    </ng-container>
    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" (click)="startEdit(i,
        row.FormQuestionsAnswerMapping,
         row.Questions, 
         row.QuestionsMandatory,
         row.FormQuestionssequence,
         row.answer,
         row.QuestionsGroup,
         row.NextForm,
         row.Active)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    No results
  </div>
  <mat-paginator #paginator style="display: none;"
                 [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
