<form #processForm="ngForm" (ngSubmit)="save(processForm);" autocomplete="off">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-11 container">
                <div class="card">
                    <div class="card-header">
                        <strong>Process</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <label class="col-md-2 col-form-label" for="txFormId">Process Id</label>
                            <div class="col-sm-4">
                                <input id="txtProcessID" [(ngModel)]="process.ProcessID" required name="ProcessID"
                                    type="text" class="form-control form-control-sm">
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <label class="col-md-2 col-form-label" for="txtProcess_Name">Process Name</label>
                            <div class="col-sm-4">
                                <input id="txtProcess_Name" required name="Process_Name" type="text"
                                    [(ngModel)]="process.Process_Name" class="form-control form-control-sm">
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <label class="col-md-2 col-form-label" for="txtGeofence">Geofence</label>
                            <div class="col-sm-4">
                                <input id="txtGeofence" required name="Geofence" type="text"
                                    [(ngModel)]="process.Geofence" class="form-control form-control-sm">
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <label class="col-md-2 col-form-label">Active</label>
                            <div class="col-sm-4">
                                <input type="checkbox" [(ngModel)]="process.Is_Active" name="IsActive"></div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-5"></div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-sm btn-primary">
                                    <i class="fa fa-dot-circle-o"></i>
                                    Submit</button>
                                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i>
                                    Reset</button>
                            </div>
                            <div class="col-md-5"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
</form>
<div> {{process | json}}</div>