<div class="container">
    <h3 mat-dialog-title>Edit Device Asset Mapping</h3>
  
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm" autocomplete="off">
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="DeviceAssetMapping"
          disabled
           [(ngModel)]="data.daId" name="daId" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>   

      <div class="row form">
        <div class="col-md-12" style="padding-bottom:2%;">
          <span style="font-family: Nunito Sans, sans-serif; color: gray;">Assets</span>
          <div class="ng-autocompletein">
            <div class="row">
              <div class="input-container">
                <ng-autocomplete [data]="dataAssetObj" #auto (selected)='selectEvent($event)'
                  [searchKeyword]="keyword" [initialValue]="data.assetName" placeHolder="Select Asset"
                  id="autocomplete" [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                </ng-autocomplete>
                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.name"></a>
                </ng-template>
                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
                <i class="icon">
                  <mat-icon>arrow_drop_down</mat-icon>
                </i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="form">
        <mat-form-field color="accent">        
          <mat-label>Asset</mat-label>
          <mat-select  (selectionChange)="AssetsChange($event)"
          required name="Assets" #input
          [(ngModel)]="data.assetCode">
          <mat-option>Asset</mat-option>
          <mat-option *ngFor="let asset of asset"
           [value]="asset.assetCode">
            {{asset.assetNameENG}}
          </mat-option>
          </mat-select>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>    -->

      <div class="form" style="display: none;">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" maxlength="5"
          type="number"
          oninput="javascript: if (this.value.length > this.maxLength) 
          this.value = this.value.slice(0, this.maxLength);"
          #input
          placeholder="Sort"
           [(ngModel)]="data.sortBy" name="sortBy">
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>  

      <div class="form">       
        <mat-checkbox name="chkActive" [(ngModel)]="data.isActive">Active</mat-checkbox>
      </div>

      <div mat-dialog-actions>
        <button mat-raised-button [type]="submit" 
        [disabled]="!formControl.valid" [mat-dialog-close]="1"
        (click)="stopEdit()"
            color="primary">Save</button>

        <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">
         Cancel</button>
      </div>
    </form>
  </div>
  