<form #ObjForm="ngForm" [formGroup]="form" autocomplete="off">    
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-11 container">
                <div class="card">
                    <div class="card-header">
                        <strong>Contact</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <mat-form-field class="col-md-4">
                                <input matInput
                                placeholder="Contact Code"
                                [(ngModel)]="bindObj.hubCode"
                                formControlName="ControlContactCode"
                                #txtControlhubCode
                                name="txtControlhubCode">
                                <mat-error>
                                    {{ formErrors['ControlContactCode'] }}
                                </mat-error>
                            </mat-form-field>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <mat-form-field class="col-md-4">
                                <input matInput
                                placeholder="Contact Name"
                                [(ngModel)]="bindObj.hubNameENG" required
                                formControlName="ControlContactNameENG"
                                #txtHubNameENG
                                name="txtHubNameENG">
                                <mat-error>
                                    {{ formErrors['ControlhubNameENG'] }}
                                </mat-error>
                            </mat-form-field>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <mat-form-field class="col-md-4">
                                <mat-label>Contact Type</mat-label>
                                <mat-select required 
                                formControlName="ControlcontactType"
                                 [(ngModel)]="bindObj.tlCode">
                                 <mat-option>Contact Type</mat-option>
                                 <mat-option *ngFor="let obj of transmissionLinedrp"
                                  [value]="obj.tlCode">
                                   {{obj.tlNameENG}}
                                 </mat-option>
                                </mat-select>
                                <mat-error>
                                    {{ formErrors['ControlcontactType'] }}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-sm-4" style="padding-top: 20px;">
                                <mat-checkbox name="chkisActive" #chkisActive formControlName="ControlisActive"
                                    [(ngModel)]="bindObj.isActive">Active
                                </mat-checkbox>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <button mat-raised-button [disabled]="!form.valid" 
                                (click)="save(ObjForm)"
                                    color="primary">Submit</button> &nbsp;
                                    &nbsp; &nbsp; &nbsp; &nbsp;
                                <button mat-raised-button color="warn" routerLink="/ContactList">
                                    Cancel</button>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
</form>
<div style="display: none;"> {{bindObj | json}}</div>