<form #ObjForm="ngForm" (ngSubmit)="save(ObjForm);" autocomplete="off">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-11 container">
                <div class="card">
                    <div class="card-header">
                        <strong>Device</strong>
                    </div>
                    <div class="card-body">
                        <div class="row px-md-5 mt-1">
                            <label class="col-md-2 col-form-label" for="txtimei1">IMEI 1     &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: red;">*</span></label>
                            <div class="col-sm-4" [class.has-error]="controlimei1.invalid && (controlimei1.dirty || controlimei1.touched)">
                                <input id="txtimei1" required name="imei1" type="text"
                                    [(ngModel)]="bindObj.imei1"  required
                                    #controlimei1="ngModel"
                                    class="form-control form-control-sm">                                    
                                <span class="errorMessage" 
                                *ngIf="controlimei1.invalid && (controlimei1.dirty || 
                                controlimei1.touched)">
                                        <div class="errorMessage" *ngIf="controlimei1.errors.required">
                                            IMEI 1 is required.
                                        </div>
                                        <div *ngIf="controlimei1.errors.minlength">
                                            IMEI 1 must be at least 4 characters long.
                                        </div>
                                        <div *ngIf="controlimei1.errors.forbiddenName">
                                            IMEI 1 cannot be Bob.
                                        </div>
                                </span>

                            </div>
                            <label class="col-md-2 col-form-label" for="txtimei2">IMEI 2</label>
                            <div class="col-sm-4">
                                <input id="txtimei2" required name="imei2" type="text"
                                    [(ngModel)]="bindObj.imei2" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="row px-md-5 mt-1">
                            <label class="col-md-2 col-form-label" for="txtdeviceName">Device Name</label>
                            <div class="col-sm-4">
                                <input id="txtdeviceName" required name="deviceName" type="text"
                                    [(ngModel)]="bindObj.deviceName" class="form-control form-control-sm">
                            </div>
                            <label class="col-md-2 col-form-label" for="txtmodel">Model</label>
                            <div class="col-sm-4">
                                <input id="txtmodel" required name="model" type="text"
                                    [(ngModel)]="bindObj.model" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="row px-md-5 mt-1">
                            <label class="col-md-2 col-form-label" for="txtosVersion">OS Version</label>
                            <div class="col-sm-4">
                                <input id="txtosVersion" required name="osVersion" type="text"
                                    [(ngModel)]="bindObj.osVersion" class="form-control form-control-sm">
                            </div>
                            <label class="col-md-2 col-form-label" for="txtappVersion">App Version</label>
                            <div class="col-sm-4">
                                <input id="txtappVersion" required name="appVersion" type="text"
                                    [(ngModel)]="bindObj.appVersion" class="form-control form-control-sm">
                            </div>
                        </div>
                    <div class="row px-md-5 mt-1">
                        <label class="col-md-2 col-form-label" for="txtuiVersion">UI Version</label>
                        <div class="col-sm-4">
                            <input id="txtuiVersion" required name="uiVersion" type="text"
                                [(ngModel)]="bindObj.uiVersion" class="form-control form-control-sm">
                        </div>
                        <label class="col-md-2 col-form-label" for="txtprocessor">Processor</label>
                        <div class="col-sm-4">
                            <input id="txtprocessor" required name="processor" type="text"
                                [(ngModel)]="bindObj.processor" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="row px-md-5 mt-1">
                        <label class="col-md-2 col-form-label" for="txtram">RAM</label>
                        <div class="col-sm-4">
                            <input id="txtram" required name="ram" type="text"
                                [(ngModel)]="bindObj.ram" class="form-control form-control-sm">
                        </div>
                        <label class="col-md-2 col-form-label" for="txtstorage">Storage</label>
                        <div class="col-sm-4">
                            <input id="txtstorage" required name="storage" type="text"
                                [(ngModel)]="bindObj.storage" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="row px-md-5 mt-1">
                        <label class="col-md-2 col-form-label" for="txtstatusIp">Status IP</label>
                        <div class="col-sm-4">
                            <input id="txtstatusIp" required name="statusIp" type="text"
                                [(ngModel)]="bindObj.statusIp" class="form-control form-control-sm">
                        </div>
                        <label class="col-md-2 col-form-label" for="txtlockTypeCode">Lock Type Code</label>
                        <div class="col-sm-4">
                            <input id="txtlockTypeCode" required name="lockTypeCode" type="text"
                                [(ngModel)]="bindObj.lockTypeCode" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="row px-md-5 mt-1">
                        <label class="col-md-2 col-form-label" for="txtsim1Provider">Sim 1 Provider</label>
                        <div class="col-sm-4">
                            <input id="txtsim1Provider" required name="sim1Provider" type="text"
                                [(ngModel)]="bindObj.sim1Provider" class="form-control form-control-sm">
                        </div>
                        <label class="col-md-2 col-form-label" for="txtsim2Provider">Sim 2 Provider</label>
                        <div class="col-sm-4">
                            <input id="txtsim2Provider" required name="sim2Provider" type="text"
                                [(ngModel)]="bindObj.sim2Provider" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="row px-md-5 mt-1">
                        <label class="col-md-2 col-form-label" for="txtsim1MobleNo">Sim 1 Moble No</label>
                        <div class="col-sm-4">
                            <input id="txtsim1MobleNo" required name="sim1MobleNo" type="text"
                                [(ngModel)]="bindObj.sim1MobleNo" class="form-control form-control-sm">
                        </div>
                        <label class="col-md-2 col-form-label" for="txtsim2MobleNo">Sim 2 Moble No</label>
                        <div class="col-sm-4">
                            <input id="txtsim2MobleNo" required name="sim2MobleNo" type="text"
                                [(ngModel)]="bindObj.sim2MobleNo" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="row px-md-5 mt-1">
                        <label class="col-md-2 col-form-label">Active</label>
                        <div class="col-sm-4">
                            <input type="checkbox" [(ngModel)]="bindObj.isActive" name="IsActive"></div>
                   </div>
                </div>
                    <div class="card-footer">
                        <div class="row px-md-5 mt-1">
                            <div class="col-md-5"></div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-asset-o"></i>
                                    Submit</button>
                                <button type="button" routerLink="/AssetList" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i>
                                    Cancel</button>
                            </div>
                            <div class="col-md-5"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
</form>
<!--/style="display: none;"-->
<div style="display: none;"> {{bindObj | json}}</div>