agm-map{
    height: 400px;
}

td,th{
    padding-top: 0px; margin-top: 0px; padding-bottom: 0px;
        margin-bottom: 0px;
        height: 5px;
  }



  #mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
  }
  
  #mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
  }

  .circle{
    height: 10px;
    width: 10px;
    border-radius: 5px;
  }

  .icon {
    padding-top: 10px;
    background: white;
    color: #7b7070;
    min-width: 30px;
    margin-left: -35px;
    height: 35px;
    text-align: center;
    position:relative;
   
  }

  .container {
    display: flex;
    flex-direction: column;
    min-width: 450px;
  }
  
  .container > * {
    width: 100%;
  }
  
  .form {
    display: flex;
    padding-top: 6px;
  }
  
  .mat-form-field {
    font-size: 16px;
    flex-grow: 1;
  }
  
  .ng-autocomplete {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid #3f51b5;
  }
  
  .input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    margin-bottom: 15px;
  }