<div class="form-group">
  <div class="row">
    <div class="col-md-3">Country Code</div>
    <div class="col-md-3">Country Name</div>
    <div class="col-md-2">Status</div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <input id="txtcountryCode" required name="txtcountry Code" type="text" class="form-control" placeholder="Country Code"
        (input)="resultChanged()" [(ngModel)]="country.countryCode">
    </div>
    <div class="col-md-3">
      <input id="txtCountryName" required name="CountryName" type="text" class="form-control"
        placeholder="Country Name" (input)="resultChanged()" [(ngModel)]="country.Country_Name_Eng">
    </div>

    <div class="col-md-2">
      <select id="Active" (change)="resultChanged()" [(ngModel)]="country.isActive" name="Active" class="form-control">
        <option value="3" selected>All</option>
        <option value="Active">Active</option>
        <option value="Inactive">Inactive</option>
      </select>
    </div>
    <div class="col-md-1">
      <button class="col-md-12 btn btn-primary icons font-1xl icon-plus" title="Create Country"
        routerLink="/Country"></button>
    </div>
    <div class="col-md-1">
      <i class="fa fa-file-excel-o" style="font-size:35px;color: #20a8d8" aria-hidden="true"
        (click)="ExportToExcel()"></i>
    </div>
  </div>
</div>

<table class="table table-respageChanged ponsive-sm table-hover table-outline mb-0">
  <thead class="thead-light">
    <tr>
      <th>Country Code</th>
      <th>Country Name</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let country of countrys | paginate: config">
      <td>
        <div>{{country.countryCode}}</div>
      </td>
      <td>
        {{country.Country_Name_Eng}}
      </td>
      <td>
        {{country.isActive}}
      </td>
      <td> <button mat-icon-button [routerLink]="['/Country/',country.countryCode]" color="accent">
          <mat-icon color="#FFFFFF" aria-label="Edit">edit</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>