<!--<div class="row">
    <div class="col-md-4"></div>
    <mat-form-field class="col-md-4">
        <mat-label>Device</mat-label>
        <mat-select required  [(ngModel)]="DeviceId"
         (selectionChange)="DeviceChange($event)">
            <mat-option *ngFor="let device of deviceObj" [value]="device.deviceId">
              {{device.deviceId}} - {{device.deviceName}}
            </mat-option>
        </mat-select>
        <mat-error>
            {{formErrors['ControlDeviceCode']}}
        </mat-error>
    </mat-form-field>
  </div>-->
  
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4" style="padding-bottom:2%;">
    <div class="ng-autocompletein">
      <div class="row">
        <div class="input-container">
          <ng-autocomplete [data]="data" #auto
           [searchKeyword]="keyword" placeHolder="Select Device Name"
            (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
             id="autocomplete" (inputFocused)='onFocused($event)' (inputFocusedOut)='onFocused($event)' 
             
            [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
          </ng-autocomplete>
          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.name"></a>
          </ng-template>
          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
         <!--<i class="icon" (click)="my()"> 
           <mat-icon>{{hidePassword ? 'keyboard_arrow_left' : 'keyboard_arrow_down'}}</mat-icon></i>-->
           
          <i class="icon" (click)="my()"> 
            <mat-icon>arrow_drop_down</mat-icon></i>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
  </div>
  
  <div class="container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource"
    [matSortDisableClear]="false"
    matSort class="mat-cell">
      ng update @angular/cli @angular/core
      
  
      <ng-container matColumnDef="UserDeviceMapping">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Map Id</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.adId}}</mat-cell>
      </ng-container>   
  
      <ng-container matColumnDef="UserText">
        <mat-header-cell *matHeaderCellDef mat-sort-header>User</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.loginId}} - {{row.userNameENG}}</mat-cell>
      </ng-container>
     
      <ng-container matColumnDef="SortBy">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Sort</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.sortBy}}</mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="ActiveText">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.isActiveText}}</mat-cell>
      </ng-container> 
       <!-- actions -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" (click)="addNew()">
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
          </button>
        </mat-header-cell>
  
        <mat-cell *matCellDef="let row; let i=index;">
          <button mat-icon-button color="accent" (click)="startEdit(i,
          row.adId,
          row.loginId,      
          row.userNameENG,
          row.sortBy,
          row.isActive)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
  
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
  
    <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
      No results
    </div>
    <mat-paginator #paginator
                  [length]="dataSource.filteredData.length"
                  [pageIndex]="0"
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
  
  <div class="row" style="padding-top: 20px;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <button mat-raised-button
        (click)="save()"
            color="primary">Submit</button>
        <button mat-raised-button color="warn" routerLink="/dashboard">
            Cancel</button>
    </div>
    <div class="col-md-4"></div>
  </div>
  