<div class="container">
  <h3 mat-dialog-title>Add new Issue</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="FormQuestionsAnswerMapping"
         [(ngModel)]="data.FormQuestionsAnswerMapping" name="FormQuestionsAnswerMapping" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>   
    <div class="form">
      <mat-form-field color="accent">        
        <mat-label>Questions</mat-label>
        <mat-select required name="Questions" 
        #input
        [(ngModel)]="data.Questions">
        <mat-option>Questions</mat-option>
        <mat-option *ngFor="let question of questionsObj"
         [value]="question.question">
          {{question.question}}
        </mat-option>
        </mat-select>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">        
        <mat-label>Questions Mandatory</mat-label>
        <mat-select required name="QuestionsMandatory" 
        #input
        [(ngModel)]="data.QuestionsMandatory">
        <mat-option>Questions Mandatory</mat-option>
        <mat-option value="Yes">Yes</mat-option>
        <mat-option value="No">No</mat-option>
        </mat-select>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" 
        #input
        placeholder="Form Questions Sequence"
         [(ngModel)]="data.FormQuestionssequence" name="FormQuestionssequence" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>    
    <div class="form">
      <mat-form-field color="accent">        
        <mat-label>Answer</mat-label>
        <mat-select required name="answer" 
        #input
        [(ngModel)]="data.answer">
        <mat-option>Answer</mat-option>
        <mat-option *ngFor="let answers of answersObj"
         [value]="answers.answer">
          {{answers.answer}}
        </mat-option>
        </mat-select>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Questions Group"
        #input
         [(ngModel)]="data.QuestionsGroup" name="QuestionsGroup" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>     
    <div class="form">
      <mat-form-field color="accent">        
        <mat-label>Next Form</mat-label>
        <mat-select required name="NextForm" 
        #input
        [(ngModel)]="data.NextForm">
        <mat-option>Next Form</mat-option>
        <mat-option *ngFor="let form of formObj"
         [value]="form.formName">
          {{form.formName}}
        </mat-option>
        </mat-select>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">        
        <mat-label>Active</mat-label>
        <mat-select required name="Active" 
        #input
        [(ngModel)]="data.Active">
        <mat-option>Active</mat-option>
        <mat-option value="Yes">Yes</mat-option>
        <mat-option value="No">No</mat-option>
        </mat-select>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
