
<span class="clearfix"></span>

<div class="">
    <div style="border-left: solid 10px #2ff563;" class="col-md-1 col-xs-6 pull-left dashboard-main">
        <div>
            <span class="headline">Check In</span>           
            <span class="dash-line"> </span>
            <label  style="color:#2ff563 ;font-size: 40px;">369</label>
        </div>
    </div> 
    <div style="border-left: solid 10px #95219c;" class="col-md-1 col-xs-6 pull-left dashboard-main">
        <div>
            <span class="headline">CheckOut</span>
            <span  class="dash-line" style="background-color:#95219c;"></span>
            <label style="color:#95219c ;font-size: 40px;">46</label>
        </div>       
    </div>
    <div style="border-left: solid 10px #19cfbf;" class="col-md-1 col-xs-6 pull-left dashboard-main">
        <div>
            <span class="headline">Idle</span>
            <span class="dash-line" style="background-color:#19cfbf;"> </span>
            <label style="color:#19cfbf ;font-size: 40px;">8</label>
        </div>
    </div>
    <div style=" border-left: solid 10px #c7203e;" class="col-md-1 col-xs-6 pull-left dashboard-main">
        <div>
            <span class="headline">Leave</span>
            <span  class="dash-line" style="background-color:#c7203e;"> </span>
            <label style="color:#c7203e ;font-size: 40px;">55</label>
        </div>  
    </div>
    <div  style="border-left: solid 10px #5e60d6; " class="col-md-1 col-xs-6 pull-left dashboard-main">
        <div>
            <span class="headline">Inactive</span>
            <span class="dash-line" style="background-color:#5e60d6;"> </span>
            <label style="color:#5e60d6 ;font-size: 40px;">105</label>
        </div> 
    </div>
    <div style=" border-left: solid 10px #7712a6; " class="col-md-1 col-xs-6 pull-left dashboard-main">
        <div>
            <span class="headline">Total</span>
            <span class="dash-line" style="background-color:#7712a6 ;"> </span>
            <label style="color:#7712a6 ;font-size: 40px;">78</label>
        </div> 
    </div>  

    <span class="clearfix"></span>
    <div style="margin-top: 50px;"></div>

<div class="col-md-3 pull-left" >

 <div style="background-color: white;">
 <table class="table table-bordered">
    <thead style="background-color: #bdffce;">
      <tr>
        <th>User</th>
        <th>Distance</th>       
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>fgvdfg </td>
        <td>fdgf</td>      
      </tr>
      <tr>
        <td>Mliolary</td>
        <td>Mocvcxvxcve</td>        
      </tr>
      <tr>
        <td>wqeqwe</td>
        <td>Doofbbgbgley</td>        
      </tr>
    </tbody>
  </table>
</div>
</div>

<div class="col-md-3 pull-left" >
    <div style="background-color: white;">
        <table class="table table-bordered">
            <thead style="background-color: #bdffce;">
              <tr>
                <th>User</th>
                <th>Places</th>       
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>fgvdfg </td>
                <td>fdgf</td>      
              </tr>
              <tr>
                <td>Mliolary</td>
                <td>Mocvcxvxcve</td>        
              </tr>
              <tr>
                <td>wqeqwe</td>
                <td>Doofbbgbgley</td>        
              </tr>
            </tbody>
          </table>    
    </div>
</div>

<div class="col-md-3 pull-left" >
    <div style="background-color: white;">
        <table class="table table-bordered">
            <thead style="background-color: #bdffce;">
              <tr>
                <th>User</th>
                <th>Form</th>       
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>fgvdfg </td>
                <td>fdgf</td>      
              </tr>
              <tr>
                <td>Mliolary</td>
                <td>Mocvcxvxcve</td>        
              </tr>
              <tr>
                <td>wqeqwe</td>
                <td>Doofbbgbgley</td>        
              </tr>
            </tbody>
          </table>
        </div>
</div>

<div class="col-md-3 pull-left" >
    <div style="background-color: white;">    
        <table class="table table-bordered">
            <thead style="background-color: #bdffce;">
              <tr>
                <th>User</th>
                <th>Visit</th>       
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>fgvdfg </td>
                <td>fdgf</td>      
              </tr>
              <tr>
                <td>Mliolary</td>
                <td>Mocvcxvxcve</td>        
              </tr>
              <tr>
                <td>wqeqwe</td>
                <td>Doofbbgbgley</td>        
              </tr>
            </tbody>
          </table>    
    </div>
</div>
</div>

