
<span class="clearfix"></span>

<div class="row">
  <div class="col-sm-2 col-xs-6">
    <div style="border-left: solid 10px #2ff563;" class="dashboard-main">            
            <span class="headline">Check In</span>           
            <span class="dash-line"> </span>
            <label  style="color:#2ff563 ;font-size: 40px;">{{dashboardObj.dashboardCount.checkIn}}</label>
       </div>
    </div> 

    <div class="col-sm-2 col-xs-6">
    <div style="border-left: solid 10px #95219c;" class="dashboard-main">        
            <span class="headline">CheckOut</span>
            <span  class="dash-line" style="background-color:#95219c;"></span>
            <label style="color:#95219c ;font-size: 40px;">{{dashboardObj.dashboardCount.checkOut}}</label>
        </div>       
    </div>

    <div class="col-md-2 col-xs-6">
    <div style="border-left: solid 10px #19cfbf;" class="dashboard-main">
         <span class="headline">Idle</span>
            <span class="dash-line" style="background-color:#19cfbf;"> </span>
            <label style="color:#19cfbf ;font-size: 40px;">{{dashboardObj.dashboardCount.idle}}</label>
        </div>
    </div>

    <div class="col-md-2 col-xs-6">
    <div style=" border-left: solid 10px #c7203e;" class="dashboard-main">
         <span class="headline">Leave</span>
            <span  class="dash-line" style="background-color:#c7203e;"> </span>
            <label style="color:#c7203e ;font-size: 40px;">{{dashboardObj.dashboardCount.leave}}</label>
        </div>  
    </div>

    <div class="col-md-2 col-xs-6">
    <div  style="border-left: solid 10px #5e60d6; " class="dashboard-main">        
            <span class="headline">Inactive</span>
            <span class="dash-line" style="background-color:#5e60d6;"> </span>
            <label style="color:#5e60d6 ;font-size: 40px;">{{dashboardObj.dashboardCount.inactive}}</label>
        </div> 
    </div>

    <div class="col-md-2 col-xs-6">
    <div style=" border-left: solid 10px #7712a6; " class="dashboard-main">       
            <span class="headline">Total</span>
            <span class="dash-line" style="background-color:#7712a6 ;"> </span>
            <label style="color:#7712a6 ;font-size: 40px;">{{dashboardObj.dashboardCount.total}}</label>
    </div>  
  </div>
</div>

   
    <div style="margin-top: 50px;"></div>


<div style="border:solid 1px #5e60d6">
    <mat-tab-group  dynamicHeight>
      <mat-tab >
        <ng-template mat-tab-label>
          <span>Top &nbsp;&nbsp;&nbsp;<i style="color:green" class="fa fa-arrow-up"></i></span>       
       </ng-template>
        <div class="col-md-3 pull-left" style="padding-top:15px; background-color:#adc1f0" >
          <div style="background-color: white;">
          <table class="table table-bordered">
             <thead style="background-color: #bdffce;">
               <tr>                
                 <th>User</th>
                 <th style="width:10px;text-align:right;">Distance</th>       
               </tr>    
             </thead>
             <tbody>
               <tr *ngFor="let DashboardTop of topDistanceObj">               
                 <td>
                   <div>{{DashboardTop.userName}}</div>
                 </td>
                 <td>
                   <div class="text-right">{{DashboardTop.distance}}</div>
                 </td>    
               </tr>   
             </tbody>
           </table>
         </div>
         </div>
         
         <div class="col-md-3 pull-left" style="padding-top:15px; background-color:#adc1f0">
             <div style="background-color: white;">
                 <table class="table table-bordered">
                     <thead style="background-color: #bdffce;">
                       <tr>
                         <th>User</th>
                         <th>Places</th>       
                       </tr>
                     </thead>
                     <tbody>
                      <tr *ngFor="let PlacesTaggedTop of topPlacesTaggedObj">               
                        <td>
                          <div>{{PlacesTaggedTop.userName}}</div>
                        </td>
                        <td>
                          <div class="text-right">{{PlacesTaggedTop.placesTagged}}</div>
                        </td>    
                      </tr>   
                     </tbody>
                   </table>    
             </div>
         </div>
         
         <div class="col-md-3 pull-left" style="padding-top:15px; background-color:#adc1f0">
             <div style="background-color: white;">
                 <table class="table table-bordered">
                     <thead style="background-color: #bdffce;">
                       <tr>
                         <th>User</th>
                         <th>Form</th>       
                       </tr>
                     </thead>
                     <tbody>
                      <tr *ngFor="let FormsTop of topFormObj">               
                        <td>
                          <div>{{FormsTop.userName}}</div>
                        </td>
                        <td>
                          <div class="text-right">{{FormsTop.formCount}}</div>
                        </td>    
                      </tr>   
                     </tbody>
                   </table>
                 </div>
         </div>
         
         <div class="col-md-3 pull-left" style="padding-top:15px; background-color:#adc1f0">
             <div style="background-color: white;">    
                 <table class="table table-bordered">
                     <thead style="background-color: #bdffce;">
                       <tr>
                         <th>User</th>
                         <th>Visit</th>       
                       </tr>
                     </thead>
                     <tbody>
                      <tr *ngFor="let PlaceVisitTop of topPlacesVisitObj">               
                        <td>
                          <div>{{PlaceVisitTop.userName}}</div>
                        </td>
                        <td>
                          <div class="text-right">{{PlaceVisitTop.placesVisit}}</div>
                        </td>    
                      </tr>   
                     </tbody>
                   </table>    
             </div>
         </div>
      </mat-tab>

      <mat-tab >
        <ng-template mat-tab-label>
          <span>Bottom &nbsp;&nbsp;&nbsp;<i style="color:red" class="fa fa-arrow-down"></i></span>       
        </ng-template>
        <div class="col-md-3 pull-left" style="padding-top:15px; background-color:#bde4e1">
          <div style="background-color: white;">
          <table class="table table-bordered">
             <thead style="background-color: #bdffce;">
               <tr>
                 <!--<th>Sr.No.</th>-->
                 <th>User</th>
                 <th>Distance</th>       
               </tr>    
             </thead>
             <tbody>
               <tr *ngFor="let DistanceBottom of bottomDistanceObj">               
                 <td>
                   <div>{{DistanceBottom.userName}}</div>
                 </td>
                 <td>
                   <div>{{DistanceBottom.distance}}</div>
                 </td>    
               </tr>   
             </tbody>
           </table>
         </div>
         </div>
         
         <div class="col-md-3 pull-left" style="padding-top:15px; background-color:#bde4e1">
             <div style="background-color: white;">
                 <table class="table table-bordered">
                     <thead style="background-color: #bdffce;">
                       <tr>
                         <th>User</th>
                         <th>Places</th>       
                       </tr>
                     </thead>
                     <tbody>
                      <tr *ngFor="let PlaceTaggedBottom of bottomPlacesTaggedObj">               
                        <td>
                          <div>{{PlaceTaggedBottom.userName}}</div>
                        </td>
                        <td>
                          <div>{{PlaceTaggedBottom.placesTagged}}</div>
                        </td>    
                      </tr>   
                     </tbody>
                   </table>    
             </div>
         </div>
         
         <div class="col-md-3 pull-left"  style="padding-top:15px; background-color:#bde4e1">
             <div style="background-color: white;">
                 <table class="table table-bordered">
                     <thead style="background-color: #bdffce;">
                       <tr>
                         <th>User</th>
                         <th>Form</th>       
                       </tr>
                     </thead>
                     <tbody>
                      <tr *ngFor="let FormBottom of bottomFormObj">               
                        <td>
                          <div>{{FormBottom.userName}}</div>
                        </td>
                        <td>
                          <div>{{FormBottom.formCount}}</div>
                        </td>    
                      </tr>   
                     </tbody>
                   </table>
                 </div>
         </div>
         
         <div class="col-md-3 pull-left" style="padding-top:15px; background-color:#bde4e1">
             <div style="background-color: white;">    
                 <table class="table table-bordered">
                     <thead style="background-color: #bdffce;">
                       <tr>
                         <th>User</th>
                         <th>Visit</th>       
                       </tr>
                     </thead>
                     <tbody>
                      <tr *ngFor="let PlaceVisitBottom of bottomPlacesVisitObj">               
                        <td>
                          <div>{{PlaceVisitBottom.userName}}</div>
                        </td>
                        <td>
                          <div>{{PlaceVisitBottom.placesVisit}}</div>
                        </td>    
                      </tr>   
                     </tbody>
                   </table>    
             </div>
         </div>    
      </mat-tab>
    </mat-tab-group>
  </div>


  <div class="col-md-12" style="margin-top:50px">
    <div class="row"> 
    <table class="table table-responsive table-bordered" style="background-color:white;" >
      <thead style="background-color: #bdffce;">
        <tr>                   
          <th scope="col">Login Id</th>
          <th scope="col">User Name</th>
          <th scope="col">Location</th>
          <th scope="col">Speed</th>
          <th scope="col">Battery</th>
          <th scope="col">Last Update</th>
          <th scope="col">latitude</th>
          <th scope="col">longitude</th>
          <th scope="col">Distance</th>
          <th scope="col">Visits</th>
          <th scope="col">Form</th>
          <th scope="col">Places</th>
          <th scope="col">Status</th>
          <th scope="col">User Group</th>

          <th scope="col">GPS</th>
          <th scope="col">High Accurecy</th>
          <th scope="col">Model</th>
          <th scope="col">IMEI1</th>
          <th scope="col">OS Version</th>
          <th scope="col">App Version</th>
          <th scope="col">App Type</th>
        </tr>
      </thead>
      <tbody>
       <tr *ngFor="let realTimeTrackingData of realTimeTrackingDataObj">               
         <td>
           <span>{{realTimeTrackingData.loginId}}</span>
         </td>
         <td>
           <span>{{realTimeTrackingData.userNameENG}}</span>
         </td>  
         <td style="width:auto;">
          <span  style="width:auto;">{{realTimeTrackingData.location}}</span>
        </td> 
        <td>
          <div>{{realTimeTrackingData.speed}}</div>
        </td> 
        <td>
          <div>{{realTimeTrackingData.batteryPer}}</div>
        </td> 
        <td>
          <div>{{realTimeTrackingData.dateTime}}</div>
        </td> 
        <td>
          <div>{{realTimeTrackingData.latitude}}</div>
        </td> 
        <td>
          <div>{{realTimeTrackingData.longitude}}</div>
        </td> 
        <td>
          <div>{{realTimeTrackingData.distanceTraveled}}</div>
        </td> 
        <td>
          <div>{{realTimeTrackingData.placesVisit}}</div>
        </td>
        <td>
          <div>{{realTimeTrackingData.formCount}}</div>
        </td> 
        <td>
          <div>{{realTimeTrackingData.placesTagged}}</div>
        </td> 
        <td>
          <div>{{realTimeTrackingData.status}}</div>
        </td> 
        <td>
          <div>{{realTimeTrackingData.userGroup}}</div>
        </td> 

        <td>
          <div>{{realTimeTrackingData.gps}}</div>
        </td> 
        <td>
          <div>{{realTimeTrackingData.highAccurecy}}</div>
        </td> 
        <td>
          <div>{{realTimeTrackingData.model}}</div>
        </td> 
        <td>
          <div>{{realTimeTrackingData.imei1}}</div>
        </td> 
        <td>
          <div>{{realTimeTrackingData.osVersion}}</div>
        </td> 
        <td>
          <div>{{realTimeTrackingData.appVersion}}</div>
        </td> 
        <td>
          <div>{{realTimeTrackingData.appType}}</div>
        </td> 
           
       </tr>   
      </tbody>
    </table>    
  </div>
  </div>



    
    














