<div class="form-group">
  <div class="row">
    <div class="col-md-3">City Code</div>
    <div class="col-md-3">City Name</div>
    <div class="col-md-2">Status</div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <input id="txtCityCode"
      (input)="resultChanged()"  [(ngModel)]="city.cityCode"
       name="txtcityCode" type="text" class="form-control"
        placeholder="City Code">
    </div>
    <div class="col-md-3">
        <input id="txtCityName" name="cityNameENG" type="text"
        (input)="resultChanged()"  [(ngModel)]="city.cityNameENG"
         class="form-control" placeholder="City Name" >
    </div>
    <div class="col-md-2">
      <select id="ShiftId" (change)="resultChanged()" [(ngModel)]="city.isActive" name="ShiftId" class="form-control">
        <option value="3" selected>All</option>
        <option value="Active">Active</option>
        <option value="Inactive">Inactive</option>
      </select>
    </div>
    
    <div class="col-md-1">
        <button class="col-md-12 btn btn-primary icons font-1xl icon-plus" title="Create City"
         routerLink="/City"></button>
    </div>
    <div class="col-md-1">
      <i class="fa fa-file-excel-o" style="font-size:35px;color: #20a8d8" aria-hidden="true"
        (click)="ExportToExcel()"></i>
    </div>
</div>

<table class="table table-responsive-sm table-hover table-outline mb-0">
    <thead class="thead-light">
      <tr>
        <th>City Code</th>
        <th>City Name</th>
        <th>Active</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let city of citys | paginate: config">
        <td>
          <div>{{city.cityCode}}</div>
        </td>
        <td>
          <div>{{city.cityNameENG}}</div>
        </td>
        <td>
          <div>{{city.isActive}}</div>
        </td>
        <td> <button mat-icon-button [routerLink]="['/City/',city.cityCode]" color="accent">
          <mat-icon color="#FFFFFF" aria-label="Edit">edit</mat-icon>
        </button>
      </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>