<form #countryForm="ngForm" [formGroup]="form" autocomplete="off">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-11 container">
                <div class="card">
                    <div class="card-header">
                        <strong>District</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <mat-form-field class="col-md-4">
                                <input matInput placeholder="District Code " [(ngModel)]="district.districtCode" formControlName="ControldistrictCode" #txtControlCountryCode name="txtControldistrictCode">
                                <mat-error>
                                    {{ formErrors['ControldistrictCode'] }}
                                </mat-error>
                            </mat-form-field>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <mat-form-field class="col-md-4">
                                <input matInput placeholder="District Name *" maxlength="10" [(ngModel)]="district.districtNameEng" formControlName="ControldistrictNameEng" #txtControldistrictNameEng name="txtdistrictNameEng">
                                <mat-error>
                                    {{ formErrors['ControldistrictNameEng'] }}
                                    <span *ngIf="isDistrictExist()">
                                        District Name is already taken.
                                      </span>
                                </mat-error>
                            </mat-form-field>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="row" style="display: none;">
                            <div class="col-md-4"></div>
                            <mat-form-field class="col-md-4">
                                <input matInput placeholder="District Name Uni *" maxlength="10" [(ngModel)]="district.districtNameUni" formControlName="ControldistrictNameUni" #txtControldistrictNameUni name="txtControldistrictNameUni">
                                <mat-error>
                                    {{ formErrors['ControldistrictNameUni'] }}
                                </mat-error>
                            </mat-form-field>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <mat-form-field class="col-md-4">
                                <mat-label>State</mat-label>
                                <mat-select required formControlName="ControlstateCode" [(ngModel)]="district.stateCode">
                                    <mat-option>State Code</mat-option>
                                    <mat-option *ngFor="let obj of stateDrp" [value]="obj.stateCode">
                                        {{obj.stateNameENG}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    {{ formErrors['ControlstateCode'] }}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-sm-4" style="padding-top: 20px;">
                                <mat-checkbox name="chkisActive" #chkisActive formControlName="ControlisActive" [(ngModel)]="district.isActive">Active
                                </mat-checkbox>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <button mat-raised-button [disabled]="!form.valid" (click)="save()" color="primary">Submit</button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                <button mat-raised-button color="warn" routerLink="/DistrictList">
                                    Cancel</button>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
</form>