<form #citygroupForm="ngForm"[formGroup]="form"  (ngSubmit)="save(citygroupForm);" autocomplete="off">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-11 container">
                <div class="card">
                    <div class="card-header">
                        <strong>CityGroup</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <mat-form-field class="col-md-4">
                                <input matInput
                                placeholder="CityGroup Code "
                                [(ngModel)]="citygroup.CityGroup_Code"
                                formControlName="ControlCityGroup_Code"
                                #txtControlCityGroup_Code
                                name="txtControlCityGroup_Code">
                                <mat-error> 
                                    {{ formErrors['ControlCityGroup_Code'] }}
                                </mat-error>
                            </mat-form-field>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <mat-form-field class="col-md-4">
                                <input matInput
                                placeholder="City Name *" maxlength="10"
                                [(ngModel)]="citygroup.CityGroup_Name_ENG"
                                formControlName="ControlCityGroup_Name_ENG"
                                #txtControlCityGroup_Name_ENG
                                name="txtCityGroup_Name_ENG">
                                <mat-error> 
                                    {{ formErrors['ControlCityGroup_Name_ENG'] }}
                                </mat-error>
                            </mat-form-field>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="row" style="display: none;">
                            <div class="col-md-4"></div>
                            <mat-form-field class="col-md-4">
                                <input matInput
                                placeholder="City Name Uni *" maxlength="10"
                                [(ngModel)]="citygroup.CityGroup_Name_UNI"
                                formControlName="ControlCityGroup_Name_UNI"
                                #txtControlCityGroup_Name_UNI
                                name="txtControlCityGroup_Name_UNI">
                                <mat-error> 
                                    {{ formErrors['ControlCityGroup_Name_UNI'] }}
                                </mat-error>
                            </mat-form-field>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-sm-4" style="padding-top: 20px;">
                                <mat-checkbox name="chkisActive" #chkisActive 
                                formControlName="ControlIsActive" [(ngModel)]="citygroup.IsActive">Active
                                </mat-checkbox>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <button mat-raised-button [disabled]="!form.valid"(click)="save()"
                                    color="primary">Submit</button> &nbsp;
                                    &nbsp; &nbsp; &nbsp; &nbsp;
                                <button mat-raised-button color="warn" routerLink="/CityGroupList">
                                    Cancel</button>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
</form>