<div class="form-group">
    <div class="row">
        <div class="col-md-3">Qualification Type Code</div>
        <div class="col-md-3">Qualification Type Name</div>
        <div class="col-md-2">Status</div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <input id="txtQualificationTypeCode" required name="QualificationTypeCode" type="text" class="form-control" placeholder="Qualification Type Code" (input)="resultChanged()" [(ngModel)]="bindObj.qualificationTypeCode">

        </div>
        <div class="col-md-3">
            <input id="txtQualificationTypeName" required name="QualificationTypeName" type="text" class="form-control" placeholder="Qualification Type Name" (input)="resultChanged()" [(ngModel)]="bindObj.qualificationTypeName">
        </div>

        <div class="col-md-2">
            <select id="ShiftId" name="ShiftId" (change)="resultChanged()" [(ngModel)]="bindObj.qualificationTypeStatus" class="form-control">
          <option value="3" selected>All</option>
          <option value="Active">Active</option>
          <option value="Inactive">Inactive</option>
        </select>
        </div>
        <div class="col-md-1">
            <button class="col-md-12 btn btn-primary icons font-1xl icon-plus" title="Create Qualification Type" routerLink="/QualificationType"></button>
        </div>
        <div class="col-md-1">
            <i class="fa fa-file-excel-o" style="font-size:35px;color: #20a8d8" aria-hidden="true" (click)="ExportToExcel()"></i>
        </div>
    </div>
</div>

<table class="table table-respageChanged ponsive-sm table-hover table-outline mb-0">
    <thead class="thead-light">
        <tr>
            <th>Qualification Type Code</th>
            <th>Qualification Type Name</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Oject of arrOject  | paginate: config">
            <td>
                {{Oject.qualificationTypeCode}}
            </td>
            <td>
                {{Oject.qualificationTypeName}}
            </td>
            <td>
                {{Oject.qualificationTypeStatus}}
            </td>

            <td> <button mat-icon-button [routerLink]="['/QualificationType/',Oject.qualificationTypeCode]" color="accent">
            <mat-icon color="#FFFFFF" aria-label="Edit">edit</mat-icon>
          </button>
            </td>
        </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>