<main class="form-main">
    <form #userForm="ngForm" [formGroup]="form" autocomplete="off">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-11 container">
                    <div class="card">
                        <div class="card-header">
                            <strong>User</strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <mat-form-field class="col-md-4">
                                    <input matInput placeholder="Login ID" [(ngModel)]="user.loginID"
                                        formControlName="ControlloginID" #txtLoginID name="txtLoginID">
                                    <mat-error>
                                        <span *ngIf="UserLoginExist()">
                                            User ID is already taken.
                                        </span>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-md-4">
                                    <input matInput placeholder="User Name *" maxlength="20"
                                        [(ngModel)]="user.userNameENG" 
                                        (keypress)="special_char_val($event)"
                                        formControlName="ControluserName" #txtAnswer
                                        name="txtUserName">
                                    <mat-error>
                                        <span *ngIf="isUserExist()">
                                            User Name is already taken.
                                        </span>
                                        {{ formErrors['ControluserName'] }}
                                    </mat-error>
                                </mat-form-field>
                                <div class="col-md-2"></div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"></div>
                                <mat-form-field class="col-md-4">
                                    <input matInput placeholder="Email Id *" [(ngModel)]="user.emailID"
                                        formControlName="Controlemail" #txtPassword name="txtEmail">
                                    <mat-error>
                                        {{ formErrors['Controlemail'] }}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-md-4">
                                    <input matInput placeholder="Mobile No *" [(ngModel)]="user.mobileNo"
                                        formControlName="Controlmobile" #txtPassword name="txtMobile">
                                    <mat-error>
                                        {{ formErrors['Controlmobile'] }}
                                    </mat-error>
                                </mat-form-field>
                                <div class="col-md-2"></div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"></div>
                                <mat-form-field class="col-md-4">
                                    <input matInput type="password" placeholder="Password *" [(ngModel)]="user.pwd"
                                        maxlength="20" formControlName="Controlpassword" #txtPassword
                                        name="txtPassword">
                                    <mat-error>
                                        {{ formErrors['Controlpassword'] }}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-md-4">
                                    <input matInput type="password" placeholder="Confirm Password"
                                        [(ngModel)]="user.confipwd" maxlength="20" 
                                        formControlName="Controlconfipwd"
                                        [errorStateMatcher]="matcher" #txtconfipwd name="txtconfipwd">
                                    <mat-error *ngIf="form.hasError('notSame')">
                                        Passwords do not match
                                    </mat-error>
                                </mat-form-field>
                                <div class="col-md-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <mat-form-field color="accent" class="col-md-4">
                                    <mat-label>User Group</mat-label>
                                    <mat-select formControlName="ControluserGroupCode"
                                     [(ngModel)]="user.userGroupCode">
                                        <mat-option>Select</mat-option>
                                        <mat-option *ngFor="let userGroup of userGroupDrp" [value]="userGroup.listCode">
                                            {{userGroup.listDescENG}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>
                                        {{ formErrors['ControluserGroupCode'] }}
                                    </mat-error>
                                </mat-form-field>
                                <div class="col-md-4"></div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"></div>
                                <mat-form-field color="accent" class="col-md-4">
                                    <mat-label>User Type</mat-label>
                                    <mat-select formControlName="ControluserType" 
                                    (selectionChange)="EntityChange($event)"
                                    [(ngModel)]="user.userTypeCode">
                                        <mat-option>Select</mat-option>
                                        <mat-option *ngFor="let userType of userTypeDrp" [value]="userType.listCode">
                                            {{userType.listDescENG}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>
                                        {{ formErrors['ControlroleLevel'] }}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field color="accent" class="col-md-4">
                                    <mat-label>Entity Name</mat-label>
                                    <mat-select formControlName="ControlentityCode" [(ngModel)]="user.entityCode">
                                        <mat-option>Select</mat-option>
                                        <mat-option *ngFor="let userEntity of userEntityDrp"
                                            [value]="userEntity.entityCode">
                                            {{userEntity.entityName}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>
                                        {{ formErrors['ControlentityCode'] }}
                                    </mat-error>
                                </mat-form-field>
                                <div class="col-md-2"></div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"></div>
                                <mat-form-field class="col-md-4">
                                    <input matInput placeholder="Password Change Date" [(ngModel)]="user.pwdChangedDate"
                                        formControlName="ControlPassChangeDate" #txtPasswordChangeDate
                                        name="txtPasswordChangeDate">
                                    <mat-error>
                                        {{ formErrors['ControlPassChangeDate'] }}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-md-4">
                                    <input matInput placeholder="Password Expiry Date" [(ngModel)]="user.pwdExpiryDate"
                                        formControlName="ControlPassExpiryDate" #txtPasswordExpiryDate
                                        name="txtPasswordExpiryDate">
                                    <mat-error>
                                        {{ formErrors['ControlPassExpiryDate'] }}
                                    </mat-error>
                                </mat-form-field>
                                <div class="col-md-2"></div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"></div>
                                <mat-form-field class="col-md-4">
                                    <input matInput placeholder="Entity Branch (Location)"
                                        [(ngModel)]="user.entityBranchCode" formControlName="ControlentityBranchCode"
                                        #txtEntityBranchCode name="txtEntityBranchCode">
                                    <mat-error>
                                        {{ formErrors['ControlentityBranchCode'] }}
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-4">
                                    <input matInput placeholder="Designation" [(ngModel)]="user.desigination"
                                        formControlName="Controldesigination" #txtDesignation name="txtDesignation">
                                    <mat-error>
                                        {{ formErrors['Controldesigination']}}
                                    </mat-error>
                                </mat-form-field>
                                <div class="col-md-2"></div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-sm-4" style="padding-top:20px;">
                                    <mat-checkbox name="chkPasswordChanged" #chkPasswordChanged
                                        formControlName="ControlpasswordChanged" [(ngModel)]="user.isPswdChanged">
                                        Password Changed
                                    </mat-checkbox>
                                </div>
                                <div class="col-sm-2" style="padding-top:20px;">
                                    <mat-checkbox name="chkisBlock" #chkisBlock formControlName="ControlisBlocked"
                                        [(ngModel)]="user.isBlocked">Block
                                    </mat-checkbox>
                                </div>
                                <div class="col-sm-2" style="padding-top: 20px;">
                                    <mat-checkbox name="chkisActive" #chkisActive formControlName="ControlisActive"
                                        [(ngModel)]="user.isActive">Active
                                    </mat-checkbox>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <button mat-raised-button [disabled]="!form.valid" (click)="save(userForm)"
                                        color="primary">Submit</button> &nbsp;
                                    &nbsp; &nbsp; &nbsp; &nbsp;
                                    <button mat-raised-button color="warn" routerLink="/UserList">
                                        Cancel</button>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.row-->
        </div>
    </form>
</main>
<!--<div style="display: none;"> {{user | json}}</div>-->