<form #userForm="ngForm" (ngSubmit)="save(userForm);" autocomplete="off">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-11 container">
        <div class="card">
          <div class="card-header">
            <strong>User</strong>
          </div>
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-2 col-form-label">User Name  <span style="color: red">*</span></label>
              <div class="col-md-9">
                <select id="EmpName" name="EmpName" [(ngModel)]="user.EmpId" required class="form-control">
                  <option value="-1">Select Employee</option>
                  <option *ngFor="let e of emplist" [value]="e.EmpId">
                    {{e.EmpName}}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="txtNumber">User Id <span style="color: red">*</span></label>
              <div class="col-md-9">
                <div class="form-group" [class.has-error]="UserId.invalid && UserId.touched"
                  [class.has-success]="UserId.valid && UserId.touched">
                  <input id="txtNumber" required name="UserId" #UserId="ngModel" [(ngModel)]="user.UserID" type="text"
                    class="form-control">


                  <span class="help-block" style="color: #f86c6b" *ngIf="UserId.invalid && UserId.touched"> User Id
                    Required</span>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label">Password <span style="color: red">*</span></label>
              <div class="col-md-9">
                <div class="form-group" [class.has-error]="Password.invalid && Password.touched"
                  [class.has-success]="Password.valid && Password.touched">
                  <input id="name" required name="Password" #Password="ngModel" type="password"
                    [(ngModel)]="user.Password" class="form-control">
                  <span class="help-block" style="color: #f86c6b" *ngIf="Password.invalid && Password.touched">Drawing
                    Name Is Required</span>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label">Role</label>
              <div class="col-md-9">
                <select id="RoleName" name="RoleName" [(ngModel)]="user.RoleId" required class="form-control">
                  <option value="-1">Select Role</option>
                  <option *ngFor="let r of role" [value]="r.RoleId">
                    {{r.RoleName}}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label">Active</label>
              <div class="col-md-9">
                <input type="checkbox" [(ngModel)]="user.IsActive" name="IsActive">
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary" [disabled]="userForm.invalid"><i
                class="fa fa-dot-circle-o"></i> Submit</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
          </div>
        </div>
      </div>
    </div>
    <!--/.row-->
  </div>
</form>
<div style="visibility: hidden;"> {{user | json}}</div>