<div class="maindiv">
  <mat-card class="col-md-3">
    <mat-card-content>
      <form [formGroup]="form">
        <h2>Log In</h2>
        <mat-error *ngIf="loginInvalid">
          The username and password were not recognised
        </mat-error>
        <mat-form-field class="full-width-input">
          <input matInput spellcheck="false" 
          required placeholder="User name" formControlName="userName">
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input [type]="hidePassword ? 'password' : 'text'" 
          matInput spellcheck="false" placeholder="Password"
          required
            formControlName="password">
          <button mat-icon-button tabindex="-1" matSuffix (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onSubmit();">Login</button>
      </form>
      <div class="row">
        <div class="col-md-6">
          <!-- <div class="col-md-8 p-2 grey" style="float: left;">
              <img src="../../../assets/img/brand/Logo.png" class="img-fluid" alt="Responsive image">
            </div> -->
        </div>
        <div class="col-md-6">
          <div class="col-md-8 p-2 grey" style="float: right;">
            <img 
             class="img-fluid ajaxlog" alt="Responsive image">
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>