<div class="form-group">
    <div class="row">
        <div class="col-md-3">Grade Code</div>
        <div class="col-md-3">Grade Name</div>
        <div class="col-md-2">Status</div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <input id="txtGradeCode" required name="txtGrade Code" type="text" class="form-control" placeholder="Grade Code" (input)="resultChanged()" [(ngModel)]="bindObj.gradeCode">

        </div>
        <div class="col-md-3">
            <input id="txtGradeName" required name="Grade Name" type="text" class="form-control" placeholder="Grade Name" (input)="resultChanged()" [(ngModel)]="bindObj.gradeName">
        </div>

        <div class="col-md-2">
            <select id="ShiftId" name="ShiftId" (change)="resultChanged()" [(ngModel)]="bindObj.gradeStatus" class="form-control">
          <option value="3" selected>All</option>
          <option value="Active">Active</option>
          <option value="Inactive">Inactive</option>
        </select>
        </div>
        <div class="col-md-1">
            <button class="col-md-12 btn btn-primary icons font-1xl icon-plus" title="Create Grade" routerLink="/Grade"></button>
        </div>
        <div class="col-md-1">
            <i class="fa fa-file-excel-o" style="font-size:35px;color: #20a8d8" aria-hidden="true" (click)="ExportToExcel()"></i>
        </div>
    </div>


    <table class="table table-respageChanged ponsive-sm table-hover table-outline mb-0">
        <thead class="thead-light">
            <tr>
                <th>Grade Set Name</th>
                <th>Grade Code</th>
                <th>Grade Name</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Oject of arrOject  | paginate: config">
                <td>
                    {{Oject.gradeSetName}}
                </td>
                <td>
                    {{Oject.gradeCode}}
                </td>
                <td>
                    {{Oject.gradeName}}
                </td>
                <td>
                    {{Oject.gradeStatus}}
                </td>
                <td> <button mat-icon-button [routerLink]="['/Grade/',Oject.gradeCode]" color="accent">
            <mat-icon color="#FFFFFF" aria-label="Edit">edit</mat-icon>
          </button>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>