<main class="form-main">
  <form #formScreen="ngForm" [formGroup]="form" autocomplete="off">
      <div class="animated fadeIn">
          <div class="row">
              <div class="col-md-11 container">
                  <div class="card">
                      <div class="card-header">
                          <strong>Screen</strong>
                      </div>

                      <div class="card-body">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <mat-form-field class="col-md-2">
                                <input matInput
                                #screenId
                                spellcheck="false" [(ngModel)]="screenobj.screenID"
                                placeholder="Screen Code"
                                formControlName="ControlscreenID" >
                                <mat-error>
                                {{ formErrors['ControlscreenID'] }}
                                </mat-error>
                            </mat-form-field>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <mat-form-field class="col-md-4">
                              <input matInput
                                #screenName
                                spellcheck="false" [(ngModel)]="screenobj.screenName"
                                placeholder="Screen Name *"
                                [errorStateMatcher]="matcher"
                                (keypress)="special_char_val($event)"
                                formControlName="ControlscreenName" maxlength="50">
                              <mat-error>
                                <span *ngIf="isScreenExist()">
                                    Screen Name is already taken.
                                </span>
                              </mat-error>
                            </mat-form-field>
                            <div class="col-md-4"></div>
                        </div>


                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <mat-checkbox name="chkisActive"
                                #chkisActive
                                formControlName="ControlisActive"
                                 [(ngModel)]="screenobj.is_Active">Active
                                </mat-checkbox>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                      <div class="card-footer">
                          <div class="row">
                              <div class="col-md-4"></div>
                              <div class="col-md-4">
                                  <button mat-raised-button
                                  [disabled]="!form.valid"
                                  (click)="save()"
                                  color="primary">Submit</button> &nbsp; &nbsp; &nbsp; &nbsp;
                                      <button mat-raised-button color="warn"
                                       routerLink="/ScreenList" >
                                          Cancel</button>
                              </div>
                              <div class="col-md-4"></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!--/.row-->
      </div>
  </form>
  </main>
  <div style="display: none;"> {{screenobj | json}}</div>
