<form #formForm="ngForm" (ngSubmit)="save(formForm);" autocomplete="off">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-11 container">
                <div class="card">
                    <div class="card-header">
                        <strong>Form</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <label class="col-md-2 col-form-label" for="txFormId">Form Id</label>
                            <div class="col-sm-4">
                                <input id="txtFormId" [(ngModel)]="form.formId" required name="FormId"
                                    type="text" class="form-control form-control-sm">
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <label class="col-md-2 col-form-label" for="txtForm_Name">Form Name</label>
                            <div class="col-sm-4">
                                <input id="txtForm_Name" required name="Form_Name" type="text"
                                    [(ngModel)]="form.formName" class="form-control form-control-sm">
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <label class="col-md-2 col-form-label">Active</label>
                            <div class="col-sm-4">
                                <input type="checkbox" [(ngModel)]="form.isActive" name="IsActive"></div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-5"></div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>
                                    Submit</button>
                                    <button type="button" routerLink="/FormList" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i>
                                        Cancel</button>
                            </div>
                            <div class="col-md-5"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
</form>
<div> {{form | json}}</div>