
.back123{
    background-color: red;
    color: white;
  }


  /*.logo {
    content: url("../../../assets/img/brand/Logo_2.jpg");
    width: 200px;
  }*/

  .CheckIn{
    content: url("../../../assets/img/brand/Logo_2.jpg");    
  }

  h1{
    color:red;
  }